
/* Your CSS Code here. */
.container {
  width: 200px;
  background-color: purple;
  padding: 10px;
  box-sizing: border-box;
}

.left-side {
  border-left: 5px solid green;
  padding-left: 10px;
}

h1 {
  font-size: 20px;
  color: white;
  margin-top: 0;
}
